/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post h1, h2, h3, h4, h5, h6 {
    padding-top: 10px;
  }

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
.post-content .tip{position:relative;margin:2em 0;padding:12px 24px 12px 30px;border-left:4px solid #f66;border-top-right-radius:2px;border-bottom-right-radius:2px;background-color:#f8f8f8}.post-content .tip br{display:none}.post-content .tip:before{position:absolute;top:14px;left:-12px;content:"!";width:20px;height:20px;border-radius:100%;color:#fff;font-size:14px;line-height:20px;font-weight:700;text-align:center;background-color:#f66;font-family:Dosis,'Source Sans Pro','Helvetica Neue',Arial,sans-serif}#mask{position:fixed;overflow:scroll;width:100%;height:100%;padding:1em 0;background-color:rgba(0,0,0,.5);z-index:10}#mask #mask-image{max-width:95%}code,pre{font-size:.8em;background-color:#f8f8f8;font-family:'Roboto Mono',Monaco,courier,monospace}.highlight{position:relative;margin:1em 0;border-radius:2px;line-height:1.1em;background-color:#f8f8f8;overflow-x:auto}.highlight table,.highlight td,.highlight tr{width:100%;border-collapse:collapse;padding:0;margin:0}.highlight .gutter{display:none}.highlight .code pre{padding:1.2em 1.4em;line-height:1.5em;margin:0}.highlight.bash .code:before,.highlight.c .code:before,.highlight.cpp .code:before,.highlight.css .code:before,.highlight.diff .code:before,.highlight.html .code:before,.highlight.java .code:before,.highlight.js .code:before,.highlight.json .code:before,.highlight.perl .code:before,.highlight.php .code:before,.highlight.python .code:before,.highlight.ruby .code:before,.highlight.scss .code:before,.highlight.swift .code:before,.highlight.xml .code:before,.highlight.ts .code:before{position:absolute;top:0;left:0;color:#ccc;text-align:right;font-size:.75em;padding:5px 10px 0;line-height:15px;height:15px;font-weight:600}.highlight.html .code:before{content:"HTML"}.highlight.js .code:before{content:"JS"}.highlight.bash .code:before{content:"BASH"}.highlight.css .code:before{content:"CSS"}.highlight.scss .code:before{content:"SCSS"}.highlight.diff .code:before{content:"DIFF"}.highlight.java .code:before{content:"JAVA"}.highlight.xml .code:before{content:"XML"}.highlight.python .code:before{content:"PYTHON"}.highlight.json .code:before{content:"JSON"}.highlight.swift .code:before{content:"SWIFT"}.highlight.ruby .code:before{content:"RUBY"}.highlight.perl .code:before{content:"PERL"}.highlight.php .code:before{content:"PHP"}.highlight.c .code:before{content:"C"}.highlight.java .code:before{content:"JAVA"}.highlight.cpp .code:before{content:"CPP"}.highlight.ts .code:after{content:"TS"}.highlight.cpp .code:before{content:'C++'}pre{color:#525252}pre .constant,pre .function .keyword{color:#0092db}pre .attribute,pre .keyword{color:#e96900}pre .literal,pre .number{color:#ae81ff}pre .change,pre .clojure .built_in,pre .flow,pre .lisp .title,pre .nginx .title,pre .tag,pre .tag .title,pre .tex .special,pre .winutils{color:#2973b7}pre .regexp,pre .symbol,pre .symbol .string,pre .value{color:#42b983}pre .title{color:#83B917}pre .addition,pre .apache .cbracket,pre .apache .tag,pre .attr_selector,pre .built_in,pre .django .filter .argument,pre .django .template_tag,pre .django .variable,pre .envvar,pre .haskell .type,pre .javadoc,pre .preprocessor,pre .prompt,pre .pseudo,pre .ruby .class .parent,pre .smalltalk .array,pre .smalltalk .class,pre .smalltalk .localvars,pre .sql .aggregate,pre .stream,pre .string,pre .subst,pre .tag .value,pre .tex .command{color:#42b983}pre .apache .sqbracket,pre .comment,pre .doctype,pre .java .annotation,pre .pi,pre .python .decorator,pre .shebang,pre .template_comment,pre .tex .formula{color:#b3b3b3}pre .deletion{color:#BA4545}pre .coffeescript .javascript,pre .javascript .xml,pre .tex .formula,pre .xml .cdata,pre .xml .css,pre .xml .javascript,pre .xml .vbscript{opacity:.5}.paginator{margin:4em 0;text-align:center}.paginator .next,.paginator .prev{display:inline-block;margin:0 4px;padding:4px 12px;border-radius:4px;border-bottom:4px solid #3aa373;font-size:14px;color:#fff;background-color:#4fc08d}.paginator .next:hover,.paginator .prev:hover{background-color:#22bd77}#disqus_thread,.ds-thread{margin-bottom:2em}section.container{margin:2em 10px}@media screen and (min-width:700px){.wrap{width:700px;margin:0 auto}header{padding:20px 100px}}@media screen and (max-width:700px){.wrap{width:100%}header{padding:20px 0}header a.logo-link,header ul.nav.nav-list{float:none;display:block;text-align:center}header li.nav-list-item{padding:10px 10px}.archive,.home.post-list,section.container{margin-top:0}.archive .post-item{padding-left:20px}.post-content h2,.post-content h3,.post-content h4,.post-content h5,.post-content h6{max-width:300px;left:15px}}footer{padding-bottom:1px}footer .copyright{width:100%;float:left;margin:4em 0;border-top:1px solid #ddd;text-align:center}.links{padding-left:35px;margin-top:40px;padding-bottom:20px;word-wrap:break-word}footer .copyright a,footer .copyright p{color:#aaa;font-size:14px;font-weight:100}footer .copyright a:hover{color:#888}@font-face{font-family:'sourcesanspro';src:url("/font/sourcesanspro.woff2") format("woff2"),url("/font/sourcesanspro.woff") format("woff");font-weight:normal;font-style:normal}#rewardButton{cursor:pointer;border:0;outline:0;border-radius:100%;padding:0;margin:0;letter-spacing:normal;text-transform:none;text-indent:0;text-shadow:none}#rewardButton span{display:inline-block;padding:4px 12px;border-radius:60px;border-bottom:4px solid #3aa373;color:#fff;font-weight:400;font-style:normal;font-variant:normal;font-stretch:normal;font-size:14px;background:#4fc08d}#rewardButton span:hover{background:#22bd77}#QR{padding-top:20px}#QR a{border:0}#QR img{width:180px;max-width:100%;display:inline-block;margin:.8em 2em 0 2em}#wechat:hover p{animation:roll .1s infinite linear;-webkit-animation:roll .1s infinite linear;-moz-animation:roll .1s infinite linear}#alipay:hover p{animation:roll .1s infinite linear;-webkit-animation:roll .1s infinite linear;-moz-animation:roll .1s infinite linear}@ -moz-keyframes roll{from{-webkit-transform:rotateZ(30deg);-moz-transform:rotateZ(30deg);-ms-transform:rotateZ(30deg);-o-transform:rotateZ(30deg);transform:rotateZ(30deg)}to{-webkit-transform:rotateZ(-30deg);-moz-transform:rotateZ(-30deg);-ms-transform:rotateZ(-30deg);-o-transform:rotateZ(-30deg);transform:rotateZ(-30deg)}}@-webkit-keyframes roll{from{-webkit-transform:rotateZ(30deg);-moz-transform:rotateZ(30deg);-ms-transform:rotateZ(30deg);-o-transform:rotateZ(30deg);transform:rotateZ(30deg)}to{-webkit-transform:rotateZ(-30deg);-moz-transform:rotateZ(-30deg);-ms-transform:rotateZ(-30deg);-o-transform:rotateZ(-30deg);transform:rotateZ(-30deg)}}@-o-keyframes roll{from{-webkit-transform:rotateZ(30deg);-moz-transform:rotateZ(30deg);-ms-transform:rotateZ(30deg);-o-transform:rotateZ(30deg);transform:rotateZ(30deg)}to{-webkit-transform:rotateZ(-30deg);-moz-transform:rotateZ(-30deg);-ms-transform:rotateZ(-30deg);-o-transform:rotateZ(-30deg);transform:rotateZ(-30deg)}}@media only screen and (min-width:1024px){::-moz-selection{background:#42b983}::selection{background:#42b983}::-webkit-scrollbar{width:8px;height:8px}::-webkit-scrollbar-track{-webkit-border-radius:5em;-moz-border-radius:5em}::-webkit-scrollbar-thumb{background-color:rgba(53,225,23,.688);background-image:-webkit-linear-gradient(45deg,rgba(38,127,0,.4) 25%,transparent 25%,transparent 50%,rgba(38,127,0,.4) 50%,rgba(38,127,0,.4) 75%,transparent 75%,transparent);-webkit-border-radius:5em;-moz-border-radius:5em;border-radius:5em}}}